// {{TITLE}}
//
// Problem:
//   <paste problem statement here>
//
// Examples:
//   <input> -> <output>
//
// Constraints:
//   <constraints>

export function {{FN}}(): unknown {
  // TODO
  return undefined;
}
